# Répertoire temporaire de build
obj/*

# Répertoire de documentation
doc/*

# Répertoire de configuration
.vscode/*

# Répertoire des objets et des textures
resources/objects/*
resources/textures/*
resources/models/*
resources/cubemaps/*

# Exécutable
igai_exe

# ImGui
imgui.ini